<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Pedido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <!--<ion-grid>
    <ion-row class="nombreCliente">
      <ion-label>Ver dirección</ion-label>
      <ion-label>direccion </ion-label>
    </ion-row>
    <ion-row >
      <ion-label>{{pedido.cliente.cliente_nombre}} </ion-label>
    </ion-row>

    <ion-row class="fechaEntrega">
      <ion-label>{{pedido.entrega_fecha}} </ion-label>
    </ion-row>
    <ion-row >
      <ion-label>{{pedido.entrega_fecha}} </ion-label>
    </ion-row>

    <ion-row class="estadoPedido">
      <ion-label>Ver dirección</ion-label>
      <ion-icon (click)="verDireccion()" name="cart-outline"></ion-icon>
    </ion-row>
  </ion-grid>-->


</ion-content>
