<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nombre Dirección</ion-title>
    <ion-buttons slot="start">
      <ion-icon (click)="goBack()" name="arrow-back-outline" class="icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container-map">
    <div #map id="map"></div>
	</div>
  <!-- <capacitor-google-maps #map1></capacitor-google-maps> -->
  <!--<div class="boton">
    <ion-button shape="round" (click)="eliminarDireccion()">Eliminar dirección</ion-button>
  </div>-->
</ion-content>