<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Nombre Dirección</ion-title>
    <ion-buttons slot="start">
      <ion-icon (click)="goBack()" name="arrow-back-outline" class="icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>


  <ion-content>

    <ion-item>

      <ion-grid>

        <ion-row class="datosPedido">
          <ion-label>Fecha en la que realizó el pedido: </ion-label>
        </ion-row>
        <ion-row class="datosCliente">
          <ion-label> {{orden.fVenta_ord}} </ion-label>
        </ion-row>

        <ion-row class="datosPedido">
          <ion-label>Fecha de Entrega: </ion-label>
        </ion-row>
        <ion-row class="datosCliente">
          <ion-label> {{orden.fEntrega_ord}} </ion-label>
        </ion-row>

        <ion-row>
          <ion-col class="datosPedidoD">
            <ion-label>Dirección:</ion-label>
          </ion-col>
          <ion-col class="datosCliente">
            <ion-label> {{orden.direccion.nombre_direc}} </ion-label>
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col class="datosPedidoD">
            <ion-label>Estado:</ion-label>
          </ion-col>
          <ion-col class="datosCliente estadoPedido">
            <ion-label> {{orden.estado_ord}} </ion-label>
          </ion-col>
        </ion-row>


      </ion-grid>

    </ion-item>

    <div  class="datosPedidoLista">
      <ion-label>Lista de Productos</ion-label>
    </div>

    <ion-item *ngFor="let pedido of orden.ordenProducto">
      <div class="flexContainer">
        <div>

          <ion-grid>

            <ion-row>

              <ion-col class="test">
                <ion-thumbnail>
                  <ion-img [src]="pedido.foto_prod"></ion-img>
                </ion-thumbnail>
              </ion-col>

              <ion-col class="color">
                <ion-row>
                  <ion-label class="wrap">{{pedido.producto.nombre_prod}} </ion-label>
                </ion-row>
                <ion-row>
                  <ion-label class="wrapUniM" color="medium">{{pedido.producto.uniMedida_prod}} </ion-label>
                </ion-row>
                <ion-row>
                  <ion-label color="wrap">Cantidad: x{{pedido.cantidad_op}} </ion-label>
                </ion-row>
              </ion-col>

            </ion-row>

          </ion-grid>

        </div>
      </div>
    </ion-item>

    <div class="marginButton"></div>

  </ion-content>