.nombrePedido{
    font-weight: bold;
    margin-top: 10px;
}

.fechaPedido{
    color: grey;
    margin-bottom: 1px;
}

.estadoPedido{
    color: green;
    margin-bottom: 5px;
}

.icon {
    font-size: xx-large;
    margin: auto 0;
    margin-right: 15px;
}

.logo {
    width: 60%;
}

.containerImage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.containerImageNombre{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.margin {
    margin-left: 15px;
}