.icon {
    font-size: x-large;
    margin-left: 10px;
}

.text{
margin-top: 5px;
}

.textFecha{
    margin-top: 10px;
    margin-left: 5px;
}

.margin {
    margin-left: 15px;
}

.nombreUsuario {
    font-weight: bold;
}

.containerImageNombre{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.separador {
    width: 100%;
    border-bottom: 10 solid blue;
}
