.titulo{
    text-align: center;
    font-weight: bolder;
}

.registro{
    font-size: larger;
}

.text{
    margin-left: 20px;
}
//Centrear Imagen 
.containerImage {
    width: 90%;
    display: block;
    margin: 0 auto;
    margin-bottom: 20px;
    margin-top: 20px;
}

.boton{
    margin-top: 40px;
    margin-bottom: 20px;
}