<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
    <!-- <ion-toolbar color="primary">
      <ion-title>OPCIONES</ion-title>
    </ion-toolbar>-->
  </ion-header>
  <ion-content>

    <div class="containerImage">
      <ion-item class="logo">
        <ion-img [src]="image"></ion-img>
      </ion-item>
    </div>
    <ion-item class="separador">
      <div class="containerImageNombre">
        <ion-label class="nombreUsuario" color="medium">Henry Frias Baldelomar</ion-label>
      </div>
    </ion-item>

    <ion-list>
      <ion-item (click)="goPedidos()">
        <ion-icon name="list-outline" color="primary"></ion-icon>
        <ion-label class="margin">Lista de Pedidos</ion-label>
      </ion-item>
      <ion-item (click)="goCobros()">
        <ion-icon name="cash-outline" color="primary"></ion-icon>
        <ion-label class="margin">Cobros</ion-label>
      </ion-item>
      <ion-item (click)="goCerrarSesion()">
        <ion-icon name="exit-outline" color="primary"></ion-icon>
        <ion-label class="margin">Cerrar Sesion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>


<ion-router-outlet id="main">
  <ion-header>
    <ion-toolbar color="primary">

      <ion-buttons slot="start" padding>
        <ion-menu-button class="icon" slot="start"></ion-menu-button>
      </ion-buttons>

      <ion-title>Nuevo Pedido</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>

    <ion-list class="lista">
      <ion-item>
        <div>
          <ion-label class="label">Cliente:</ion-label>
        </div>
      </ion-item>

      <ion-searchbar
     ></ion-searchbar>


    <ion-item *ngFor="let product of productos ">

      <div class="flexContainer">
        <div>
          <ion-grid>
            <ion-row>
              <ion-col>
                <ion-thumbnail>
                  <ion-img [src]="product.producto_foto"></ion-img>
                </ion-thumbnail>
              </ion-col>
              <ion-col>
                <ion-label>{{product.producto_nombre}} </ion-label>
              </ion-col>
            </ion-row>
          </ion-grid>
        </div>

        <div class="icon-div">
          <div class="iconn">
            <ion-icon (click)="addCart(product.producto_id, product.producto_nombre)" name="cart-outline" color="primary"></ion-icon>
          </div>
        </div>

      </div>

    </ion-item>

 

    <ion-item *ngFor="let item of carrito.productos">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label>{{item.producto_nombre}} </ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label>x{{item.cantidad}} </ion-label>
          </ion-col>
          <ion-col>
            <ion-icon (click)="eliminarProducto(item)" name="trash-sharp" color="danger"></ion-icon>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>

    </ion-list>

    <div class="boton">
      <ion-button [disabled]="this.carrito.productos.length<1" shape="round" color="primary"
        (click)="hacerPedido(date)" class="textBoton">REALIZAR PEDIDO</ion-button>
    </div>
  

  </ion-content>



</ion-router-outlet>