<ion-menu side="start" menuId="first" contentId="direccion">
  <ion-header>
    <ion-toolbar color="primary">
      <ion-title>OPCIONES</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="containerImage">
      <ion-item class="logo">
        <ion-img [src]="image"></ion-img>
      </ion-item>
    </div>
    <ion-item class="separador">
      <div class="containerImage">
        <ion-label class="nombreUsuario" color="medium">Henry Frias Baldelomar</ion-label>
      </div>
    </ion-item>

    <ion-list>
      <ion-item (click)="goProductos()">
        <ion-icon name="cart-outline"></ion-icon>
        <ion-label class="margin">Productos</ion-label>
      </ion-item>
      <ion-item>Mis Pedidos</ion-item>
      <ion-item>Cerrar Sesion</ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="direccion">

  <ion-header>
    <ion-toolbar>
      <ion-menu-button class="icon" slot="start"></ion-menu-button>
      <ion-title>Direcciones</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    <div class="flexContainer">
      <div class="direccionItem">
        <ion-item *ngFor="let direccion of direcciones">
          <div class="direccionContenedor">
            <div>
              <ion-grid (click)="selecionarDireccion(direccion.direccion_id)">
                <ion-row class="nombreDireccion">
                  <ion-icon name="cart-outline"></ion-icon>
                  <ion-label>{{direccion.direccion_nombre}} </ion-label>
                </ion-row>
                <ion-row class="descripcionDireccion" >
                  <ion-label color="medium">{{direccion.direccion_descripcion}} </ion-label>
                </ion-row>
              </ion-grid>
            </div>
          </div>
        </ion-item>
      </div>

      <div>
        <ion-button shape="round" (click)="agregarDireccion()">Agregar direccion</ion-button>
      </div>
    </div>
    
    

    
  </ion-content>

</ion-router-outlet>