.logo {
    width: 100%;
}

.containerImage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.containerImageNombre{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.flexContainer {
    height: 90%;
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.nombreUsuario {
    font-weight: bold;
}

.separador {
    width: 100%;
    border-bottom: 10 solid blue;
}

.margin {
    margin-left: 15px;
}

.nombreDireccion {
    font-weight: bold;

}
.icon {
    font-weight: bold;
    font-size: xx-large;
    margin: 5px;
}

.nombreDirec {
    margin-left: 1px;
}

.direccionContenedor {
    margin: 1px;
}

.marginBotton{
    margin-bottom: 50px;
}

.wrap{
    white-space: normal;
}

.btnCenter{
    text-align: center;
}

.container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    width: 80%;
}

.flexContainerCenter{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
    height: 80%;
}



