.flexContainer {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.icon-div {
    display: flex;
    align-content: center;
    justify-content: center;
}

.icon {
    font-size: xx-large;
    margin: auto 0;
    margin-right: 15px;
}

.color {
    background-color: aqua;
    width: 100%;
}

.input {
    width: 100%;
    -moz-border-radius: 50px;
    -webkit-border-radius: 50px;
    border-radius: 10px;
    margin-bottom: 20px;
    border-color: grey;
    background-color: gray;
}

.logo {
    width: 60%;
}

.separador {
    width: 100%;
    border-bottom: 10 solid blue;
}

.containerImage {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.containerImageNombre{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 20px;
}

.nombreUsuario {
    font-weight: bold;
}

.margin {
    margin-left: 15px;
}

.boton {
    display: flex;
    justify-content: center;
    width: 100%;
  
  }

  .textBoton{
    font-weight: bold;

  }