<ion-menu side="start" menuId="first" contentId="main">
  <ion-header>
  </ion-header>
  <ion-content>

    <div class="containerImage">
      <ion-item class="logo">
        <ion-img [src]="image"></ion-img>
      </ion-item>
    </div>
    <ion-item>
      <div class="containerImageNombre">
        <ion-label class="nombreUsuario" color="medium">{{this.orden.usuario.nombre_usu}}</ion-label>
      </div>
    </ion-item>

    <ion-list>
      <ion-item (click)="goDirecciones()" button="true">
        <ion-icon name="location-outline" color="primary"></ion-icon>
        <ion-label class="margin">Direcciones</ion-label>
      </ion-item>
      <ion-item (click)="goMisPedidos()" button="true">
        <ion-icon name="list-outline" color="primary"></ion-icon>
        <ion-label class="margin">Mis Pedidos</ion-label>
      </ion-item>
      <ion-item (click)="goCerrarSesion()" button="true">
        <ion-icon name="exit-outline" color="primary"></ion-icon>
        <ion-label class="margin">Cerrar Sesion</ion-label>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-menu>

<ion-router-outlet id="main">
  <ion-header>
    <ion-toolbar color="primary">

      <ion-buttons slot="start" padding>
        <ion-menu-button class="icon" slot="start"></ion-menu-button>
      </ion-buttons>

      <ion-title>Productos</ion-title>
      <ion-buttons slot="end" padding>
        <ion-icon (click)="abrirCarrito(true)" class="iconHeader" name="cart"></ion-icon>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content>
    
  <div *ngIf="productos.length == 0" class="flexContainerCenter">
    <div class="container">
      <ion-label >"Por el momento no contamos con productos a la venta, favor regrese mas tarde" </ion-label>
    </div>
  </div>
    <div *ngFor="let product of productos">
      <ion-grid>
        <ion-card>
          <ion-row class="center">
            <ion-img class="image" [src]="product.foto_prod"></ion-img>
          </ion-row>
          <ion-row class="borde">
          <ion-col size="8">
            <ion-row>
              <ion-label class="wrap">{{product.nombre_prod}} </ion-label>
            </ion-row>
            <ion-row>
              <ion-label  class="subtitle" color="medium">{{product.uniMedida_prod}} </ion-label>
            </ion-row>
          </ion-col>
          <ion-col size="2" class="icon">
            <ion-icon (click)="addCart(product)" name="cart-outline" color="primary"></ion-icon>
          </ion-col>
        </ion-row>
        </ion-card>
        
          
      </ion-grid>
    </div>
    <div class="marginBotton">

    </div>

    <ion-modal [isOpen]="isModalOpen">
      <ng-template>
        <ion-header>
          <ion-toolbar color="primary">
            <ion-title>Carrito de Compra</ion-title>
            <ion-buttons slot="end">
              <ion-icon (click)="abrirCarrito(false)" name="close" class="iconHeader"></ion-icon>
            </ion-buttons>
          </ion-toolbar>
        </ion-header>
        <ion-content class="ion-padding">

          <ion-item *ngFor="let item of orden.ordenProducto">
            <ion-grid>
              <ion-row>
                <ion-col size="8">
                  <ion-label class="wrap">{{item.producto.nombre_prod}} </ion-label>
                </ion-col>
                <ion-col size="2">
                  <ion-label>x{{item.cantidad_op}} </ion-label>
                </ion-col>
                <ion-col size="1" >
                  <ion-icon (click)="eliminarProducto(item)" name="trash-sharp" color="danger"></ion-icon>
                </ion-col>
              </ion-row>
            </ion-grid>
          </ion-item>

          <ion-item>
            <ion-grid>
              <ion-row>
                <ion-col>
                  <ion-label>Fecha de Entrega:</ion-label>
                </ion-col>
              </ion-row>
              <ion-row>
                <ion-item class="input">
                  <ion-input value="{{ date | date: 'dd.MM.yyyy' }}" id="date"
                    placeholder="Selecione una Fecha de Entrega">
                  </ion-input>
                </ion-item>
                <ion-popover trigger="date" size="cover">
                  <ng-template>
                    <ion-datetime presentation="date" [(ngModel)]="date" [showDefaultButtons]="true" doneText="Aceptar"
                      cancelText="Cancelar">

                    </ion-datetime>
                  </ng-template>
                </ion-popover>
              </ion-row>
              <ion-row>
                <ion-label>Seleccione Dirección</ion-label>
              </ion-row>
              <ion-row>
                <ion-item class="input" placeholder="Seleccione Dirección">


                  <ion-select [(ngModel)]="orden.direccion" (ionChange)='seleccionarDireccion($event)'
                    placeholder="Selecione su Dirección" [interfaceOptions]="customAlertOptions" interface="alert">
                    <ion-select-option *ngFor="let direccion of direcciones" value="{{direccion.id_direc}}">
                      {{ direccion.nombre_direc }}
                    </ion-select-option>
                  </ion-select>

                </ion-item>
              </ion-row>
              <div class="boton">
                <ion-button [disabled]="this.orden.ordenProducto.length<1 || this.orden.direccion==null || date==null" shape="round" color="primary"
                  (click)="hacerPedido(date)" class="textBoton" size="large">REALIZAR PEDIDO</ion-button>
              </div>
            </ion-grid>
          </ion-item>
        </ion-content>
      </ng-template>
    </ion-modal>

  </ion-content>
</ion-router-outlet>