<ion-header>
  <ion-toolbar color="primary">
    <ion-title>{{cliente.nombre_usu}}</ion-title>
    <ion-buttons slot="start">
      <ion-icon (click)="goBack()" name="arrow-back-outline" class="icon"></ion-icon>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <div class="flexContainer">
    <ion-label>Deuda: {{cliente.deuda_usu}}</ion-label>
    <ion-label>Observación: {{cliente.observacion_usu}}</ion-label>
    <ion-label>Celular: {{cliente.celular_usu}}</ion-label>
    <ion-label>Nro Documento: {{cliente.nroDocu_usu}}</ion-label>
  </div>

  <!--<div *ngIf="pedido.length == 0" class="flexContainerCenter">
      <div class="container">
        <ion-label class="text" >"Su pedido no tiene productos" </ion-label>
      </div>
    </div>
-->

  <div *ngFor="let pago of cliente.pago; let i=index">
    <div *ngIf="i==0" class="table">
      <ion-label class="cell-class montoTitle">Monto en Bs.</ion-label>
      <ion-label class="cell-class fechaTitle">Fecha de Pago</ion-label>
    </div>
    <div class="table">
      <ion-label class="cell-class monto">{{pago.cantidad_pago}} Bs.</ion-label>
      <ion-label class="cell-class fecha">{{pago.fecha_pago}}</ion-label>
    </div>
  </div>
<div class="btn">
  <ion-button shape="round" color="primary" (click)="realizarPagoAlert()" class="textBoton">HACER PAGO</ion-button>
</div>
  </ion-content>